<section id="main-container">
  <div id="cards-container">
    <section
      class="{{ badge.state ? 'card-container-activated' : 'card-container' }}"
      *ngFor="let badge of badgeData"
      (click)="badgeClicked(badge)"
    >
      <div id="image-container">
        <img
          [src]="'assets/Images/badges/' + badge.imageName + '.jpg'"
          alt="badge"
        />
      </div>
      <span id="name-title"
        ><p>{{ badge.name }} & {{ badge.state }}</p></span
      >
    </section>
  </div>
</section>
