<!-- <div style="width: 60%">
  <app-work-in-progress></app-work-in-progress>
</div> -->

<!-------------------- Topbar -------------------->
<app-topbar title="Nuestra Mision"></app-topbar>

<!-------------------- Main COntent -------------------->
<section id="main-content-container">
  <div id="first-content">
    <div id="first-image">
      <img src="assets/Images/misc/clinicaBanner.jpg" alt="badge" />
    </div>
    <div id="first-text">
      <b>En Veterinaria nueva estrada,</b> Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Nostrum nisi facere expedita delectus aut
      repellat, magni aliquam sequi saepe praesentium nobis quam similique
      maxime quos rem quia molestias eligendi incidunt! Culpa cumque eum neque
      exercitationem numquam veniam quae reprehenderit magni impedit dolorum
      tempore, consectetur beatae quas facilis officia ipsum? Exercitationem
      ullam, reiciendis amet nesciunt illum architecto possimus nobis deleniti
      sit? Ea nobis impedit earum illum rerum est nemo maiores ullam repellat
      obcaecati, odit quod sequi iste ab molestiae, aut vitae veritatis
      laudantium repellendus soluta! Itaque voluptas alias provident
      exercitationem omnis.
    </div>
  </div>
  <div id="second-content">
    <div id="second-text">
      <b>Nuestros valores son,</b> Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nostrum nisi facere expedita delectus aut repellat,
      magni aliquam sequi saepe praesentium nobis quam similique maxime quos rem
      quia molestias eligendi incidunt! Culpa cumque eum neque exercitationem
      numquam veniam quae reprehenderit magni impedit dolorum tempore,
      consectetur beatae quas facilis officia ipsum? Exercitationem ullam,
      reiciendis amet nesciunt illum architecto possimus nobis deleniti sit? Ea
      nobis impedit earum illum rerum est nemo maiores ullam repellat obcaecati,
      odit quod sequi iste ab molestiae, aut vitae veritatis laudantium
      repellendus soluta! Itaque voluptas alias provident exercitationem omnis.
    </div>
    <div id="second-image">
      <img src="assets/Images/misc/consultorio.jpg" alt="badge" />
    </div>
  </div>
</section>
