#main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  height: var(--space-64px);
  padding-left: var(--space-8px);
  margin-bottom: var(--space-16px);
  background-color: var(--color-white);
  border-radius: var(--space-8px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  #title {
    align-items: center;
    width: fit-content;
    font-size: var(--font-24px);
  }
  #user-container {
    margin-right: var(--space-8px);
    display: flex;
    flex-direction: row;
    align-items: center;
    #greeting {
    }
    #dropdown {
      position: relative;
      top: -2px;
      margin-left: var(--space-8px);
    }
  }
}
