<section id="main">
  <!---------- Layout ---------->
  <div id="layout-container">
    <img [src]="logo" alt="Veterinaria Estrada" id="logo" />
    <section id="options-container">
      <div class="option" *ngFor="let item of menuOptions">
        <a (click)="optionClicked(item.url)">
          <img
            [src]="'assets/Icons/' + item.icon + '.svg'"
            alt="image"
            class="icon-class"
          />
          <span class="tooltiptext">{{ item.label }}</span>
        </a>
      </div>
    </section>
  </div>
  <!---------- Main Content (Dynamic)---------->
  <div id="main-container">
    <router-outlet></router-outlet>
  </div>
  <!---------- Background Waves---------->
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</section>
