#main {
  display: flex;
  flex-direction: row;
  #layout-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: var(--space-56px);
    height: 100vh;
    background-color: var(--color-pink);
    padding: 4px;
    #logo {
      width: var(--space-42px);
    }
    .icon-class {
      font-size: var(--font-16px);
      width: var(--space-56px);
      height: var(--space-56px);
      color: black;
    }
  }
  #main-container {
    margin: 0px;
    width: 100%;
  }
}
