<section id="main">
  <div id="layout-container">
    <img
      [src]="logo"
      alt="Veterinaria Estrada"
      id="logo"
    />
    <div class="options-container" *ngFor="let item of menuOptions">
      <a (click)="optionClicked(item.url)">
        <img
          [src]="'/assets/Icons/' + item.icon + '.svg'"
          alt="image"
          class="icon-class"
        />
        <span class="tooltiptext">{{ item.label }}</span>
      </a>
    </div>
  </div>
  <div id="main-container">
    <router-outlet></router-outlet>
  </div>
</section>
