.keen-slider {
  width: 100%;
  border-radius: 6px;
  [class^="number-slide"],
  [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-white);
    height: fit-content;
    img {
      width: 98%;
      margin: var(--space-8px) auto;
      border-radius: var(--space-8px);
    }
    span {
      font-weight: 500;
      width: fit-content;
      margin: auto;
      font-size: var(--font-32px);
    }
  }

  .number-slide1 {
    background: var(--color-black);
  }
}
