<app-topbar title="Sobre Nosotros"></app-topbar>
<section id="main-content-container">
  <div id="dropdown-container">
    <label for="dropdown">Conoce a nuestro equipo: </label>
    <select
      name="dropdown"
      id="team-dropdown"
      [(ngModel)]="selectedItem"
      (ngModelChange)="selectedOption($event)"
    >
      <option *ngFor="let badge of badgeData" value="{{ badge.id }}">
        {{ badge.name }}
      </option>
    </select>
  </div>
  <app-new-badge
    [badgeData]="badgeData"
    [selectedId]="selectedId"
    (selectedBadge)="selectedBadge($event)"
  ></app-new-badge>
</section>
