#main-content-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  #main-slider {
    margin-top: var(--space-16px) auto;
    width: 50%;
    overflow: hidden;
  }
  #appointment-container {
    width: 40%;
    border-radius: var(--space-8px);
    background-color: var(--color-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-8px);
    h2{
      width: fit-content;
      margin: auto;
    }
    iframe{
      border-radius: var(--space-8px);
    }
  }
}
