@import "keen-slider/keen-slider.min.css";

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/fonts/ubuntu-font/Ubuntu-Regular.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

* {
  font-family: "Ubuntu", sans-serif;
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141);
  }
}
body {
  margin: 0px;
}
:root {
  // Paleta de colores
  --color-pink: #ffbfca;
  --color-white: #f1fffa;
  --color-brown: #d5c7bc;
  --color-dark: #785964;
  --color-black: #454545;

  // Tamaños de fonts
  --font-32px: 2em;
  --font-24px: 1.5em;
  --font-18px: 1.125em;
  --font-16px: 1em;
  --font-14px: 0.875em;
  --font-12px: 0.75em;
  // Tamaño de espacios (Margenes y paddings)
  --space-96px: 96px;
  --space-88px: 88px;
  --space-80px: 80px;
  --space-72px: 72px;
  --space-64px: 64px;
  --space-56px: 56px;
  --space-48px: 48px;
  --space-40px: 40px;
  --space-32px: 32px;
  --space-24px: 24px;
  --space-16px: 16px;
  --space-8px: 8px;
  --space-120px: 120px;
}
